.about {
  display: flex;
  flex-direction: column;
}

.about__img-wrapper {
  margin-bottom: 2rem;
}

.about__img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border: .125rem solid lighten($contentcolour, 10);
}

.about__info {
  margin-bottom: 2rem;
}

.about__text {
  font-size: .8em;
  font-weight: 300;
  line-height: 1.4375em;
  max-width: 60ch;
}

@media screen and (min-width: $mqphonelimit) {

  .about__text {
    font-size: .9em;
  }

}

@media screen and (min-width: $mqnavbar) {

  .about {
    flex-direction: row;
    justify-content: space-between;
  }

  .about__info {
    margin-bottom: 0;
  }

  .about__text {
    padding-right: 3rem;
  }

  .about__img-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 0 0 1rem;
    animation: fadeIn 2s ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-iteration-count: 1;
    opacity: 0;

    &.no-animation {
      animation: none;
      opacity: 1;
    }
  }

}

@media screen and (min-width: $mqblogindex) {

  .socialmedia-link {
    border-bottom: .125em dashed rgba(white, .04);
  }
}
