.bloglisting {
  font-size: 1.25rem;
}

.bloglisting__title {
  font-size: 1em;
  font-weight: 700;
  font-family: $seriffont;
}

.bloglisting__date {
  background-color: $tilecolour;
  padding: .5em 1em;
  border-left: .1em solid white;
  display: inline;
  font-size: .8em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.bloglisting__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  max-width: 30em;
}

.bloglisting__teaser {
  font-weight: 300;
  font-size: .8em;
}

.btn--bloglisting {
  align-self: flex-start;
}

@media screen and (min-width: $mqphonelimit) {

  .bloglisting__title {
    font-size: 1.3em;
  }

  .bloglisting__teaser {
    font-size: .9em;
  }

}

@media screen and (min-width: $mqlogo) {

  .bloglisting__title {
    margin-top: 0;
    font-size: 2rem;
  }

}

@media screen and (min-width: $mqblogindex) {

  .bloglisting__wrapper {
    flex-direction: row;
    justify-content: space-between;
    max-width: none;
  }

  .btn--bloglisting {
    align-self: center;
    margin: 0 auto;
    padding: 1em 2em;

  }

  .bloglisting__teaser {    
    padding-left: 1em;
    border-left: .1em dashed $maincolour;
    max-width: 30em;
  }
}
