.contact {
  display: flex;
  flex-direction: column;
}

.contactform {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  border-bottom: .1em dashed $maincolour;
}

.contactform__label:not(:first-child) {
  margin-top: 1rem;
}

.contactform__label {
  font-size: .8em;
}

.contactform__input {
  border: 0;
  height: 3rem;
  padding: 1rem;
  margin-top: .5em;
  border-left: .1em solid $altcolour;
  background-color: $tilecolour;
  caret-color: white;
  color: white;
  transition: transform 300ms ease;

  &:focus, &:active {
    outline-color: $altcolour;
    transform: translateX(.5em);
  }
}

.contactform__textarea {
  border-left: .1em solid $altcolour;
  background-color: $tilecolour;
  border: 0;
  height: 15vh;
  margin-top: 1rem;
  padding: 1rem;
  caret-color: white;
  color: white;
  transition: height 300ms ease;

  &:focus, &:active {
    outline-color: $altcolour;
    height: 15em;
  }
}

.contactform__submit {
  margin-top: 2rem;
  border: 0;
  background-color: $altcolour;
  padding: 1rem;
  max-width: 30%;
  color: white;
  font-weight: 500;
  width: auto;
  text-shadow: .1em .1em darken($altcolour, 5);
  cursor: pointer;

  &:focus, &:active {
    outline-color: white;
  }
}

.content__heading--contact {
  align-self: flex-start;
}

.contact__wrapper-aside {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
}

.contact__wrapper-social {
  width: 46%;
}

.contact__wrapper-other {
  width: 46%;
}

.socialmedia-link-wrapper {
  display: flex;
  justify-content: flex-start;
  border-bottom: .1em solid rgba(white, .05);
  width: 100%;

  &:hover {
    border-right: .1em solid $altcolour;
    transform: translateX(-.25em);
  }

}

.socialmedia-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: .5em 0;
  font-size: .8181818181818182em;

  img {
    margin-right: 1em;
    width: 44px;
    height: 44px;
  }

}


@media screen and (min-width: $mqnavbar) {

  .contact {
    flex-direction: row;
    justify-content: space-between;
  }

  .contactform {
    border-bottom: none;
  }

  .contact__wrapper-form {
    width: 70%;
    padding-right: 3rem;
  }

  .contact__wrapper-aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 30%;
    border-left: .1em dashed $maincolour;
    padding-left: 3rem;
  }

  .contact__wrapper-social {
    width: 100%;
  }

  .contact__wrapper-other {
    margin-top: 2rem;
    width: 100%;
  }

  .content__heading--contact {
    display: none;
  }  

  .socialmedia-link {
    width: 100%;
  }

}
