.tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50vw;
  font-size: 1rem;
  background-color: $tilecolour;
  text-decoration: none;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }
}

.tile--image {
  background-color: $tilecolour;
  height: auto;
  order: 2;
}

.tile__img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  min-height: 1px;
}

.tile--intro {
  background-color: lighten($tilecolour, 2);
  height: 90vw;
  order: 1;
}

.tile--projects {
  background-color: lighten($tilecolour, 4);
  order: 3;
}

.tile--graphics {
  background-color: lighten($tilecolour, 6);
  order: 4;
}

.tile--contact {
  background-color: lighten($tilecolour, 8);
  order: 5;
}

.tile--icons {
  background-color: lighten($tilecolour, 10);
  order: 6;
}

.tile-inner {
  max-width: 100%;
  text-align: center;
}

.tile-inner > * {
  margin-bottom: 0;
}

.tile-inner > :first-child {
  margin-top: 0;
}

.tile-inner--intro {
  text-align: center;
  font-weight: 500;
}

.tile-inner--contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  border-top: .08em dashed rgba(white, .5);
  border-bottom: .08em dashed rgba(white, .5);
  transition: border-color 500ms ease;

  img {
    transition: transform 500ms ease;
  }

  &:hover {
    border-top-color: transparent;
    border-bottom-color: transparent;

    img {
      transform: translateY(-.25em);
    }
  }
}

.tile-inner__main {
  padding: 1em;
}

.tile-inner--border {
  border-radius: 2em;
  border: .1em solid rgba(255,255,255,1);
}

.tile-inner__main--contact {
  padding: 0;
  margin-right: .5em;
}

.tile-inner__main--intro {
  font-size: 1.5em;
  padding: 0 1em;
  font-weight: 500;
}

.tile-inner__sub--intro {
  font-weight: 400;
}

.tile-inner__icon {
  text-decoration: none;

  & img:hover {
    transform: scale(1.1);
  }
}

.tile-inner__link {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: $mqphonelimit) {

  .tiles {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .tile {
    width: 50%;
    height: 46.235294117647058823529411764706vw;
    margin-top: 0;
    font-size: .85185rem;
  }

  .tile-inner {
    max-width: 15em;
  }

  .tile--intro {
    padding: 0 1em;
  }

  .tile--image {
    height: 46.235294117647058823529411764706vw;
  }

  .tile__img {
    max-width: 80%;
  }

  .tile-inner__main--intro {
    font-size: 1.4em;
  }

  .tile-inner__sub--intro {
    font-size: 1rem;
  }

}

@media screen and (min-width: $mqbiglogo) {

  .tile {
    height: 44.936708860759493670886075949367vw;
    font-size: 1rem;
  }

}


@media screen and (min-width: $mqnavbar) {

  .tile {
    width: 33.33333333333333333333333333333333%;
    height: 30.769230769230769230769230769231vw;
  }

  .tile-inner {
    max-width: 12.875em;
  }

  .tile-inner__main--intro {
    padding: 0;
  }

  .tile--image {
    order: 0;
  }

  .tile__img {
    border: .2em solid darken($maincolour, 2);
    box-sizing: content-box;
  }

}

@media screen and (min-width: $mqthreecol) {

  .tiles {
    justify-content: flex-start;
    width: 1006px;
    perspective: 1000px;
    border: 2px solid $maincolour;
  }

  .tile {
    width: 334px;
    height: 334px;
  }

  .tile__img--tint {
    display: block;
    width: 267px;
    height: 267px;
    border: .1em solid darken($maincolour, 5);
    box-sizing: content-box;
  }

  .tile--3d {
    transform: rotateY(0);
    transition: transform 300ms ease, background-color 500ms ease, border-color 500ms ease, box-shadow 500ms ease;

    &:hover {
      transform: rotateY(15deg) scale(0.95);
      background-color: rgba($altcolour, 0.8);
      border-color: lighten($altcolour, 5);

      .tile-inner__main {
        box-shadow: none;
        background-color: transparent;
      }

    }
  }

}
