.project {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.25rem;
}

.project__link {
  color: $linkcolour;
  text-decoration: none;
  border-bottom: .1em dotted $linkcolour;

  &:hover {
    color: white;
    border-bottom: .1em solid white;
  }
}

.project + * {
  margin-top: 1em;
}

.project__wrapper {
  display: flex;
  flex-direction: column;
}

.project__title {
  font-size: 1.25em;
  font-weight: 700;
  font-family: $seriffont;
  text-shadow: .05em .05em $maincolour;
}

.project__title--no-mob {
  display: none;
}

.project__img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.project__header {
  font-weight: bold;
}

.project__btn-view {
  display: block;
  text-align: center;
  margin: 1em auto;
  background-color: lighten($maincolour, 12);;
  border: .1em solid lighten($maincolour, 15);
  font-family: $bodyfont;
  font-weight: bold;
  padding: .5em;
  color: white;
  width: 50%;
  align-self: center;
  text-decoration: none;

  &:hover, &:active, &:focus {
    background-color: lighten($maincolour, 10);    
    color: white;
  }
}

.project__text {
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.4375em;
  max-width: 60ch;

  &:first-of-type {
    margin-top: 0;
  }
}

.tool-tag {
  background-color: $tilecolour--hover;
  padding: .5em 1em;
  display: inline-block;
  margin-bottom: .5em;
  font-size: 1rem;
  color: white;
}

@media screen and (min-width: $mqphonelimit) {

  .project__title {
    font-size: 1.5em;
  }

  .project__text {
    font-size: .9em;
  }

}

@media screen and (min-width: $mqbiglogo) {

  .project {
    font-size: 1.375rem;
  }

  .project__title {
    margin-top: 0;
    font-size: 2rem;
  }

  .project__text {
    font-size: 0.81818181818181818181818181818182em;
    line-height: 1.5em;
  }

}

@media screen and (min-width: $mqnavbar) {

  .project {
    flex-direction: row;
  }

  .project__title {
    display: none;
  }

  .project__title--no-mob {
    display: block;
    font-size: 2.2rem;
  }

  .project__info {
    order: 2;
    flex: 1.25;
  }

  .project__text {
    line-height: 1.6em;
  }

  .project__imgbtn-wrapper {
    order: 3;
    flex: 1;
    margin-left: 2em;
    height: 100%;
    //border-left: .1em dashed $tilecolour;
    padding-left: 2em;
  }

}
