body {
  background-color: darken(desaturate($maincolour, 5), 9);
  font-family: $bodyfont;
  line-height: 1.3;
  transition: background-color 1000ms;
  color: white;

  &::before {
    //content: "";
    opacity: .25;
    position: fixed;
    height: 600px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url('../img/body_bg.png');
    background-size: cover;
  }
}
