body {
  background: $maincolour; /* Old browsers */
  font-family: $bodyfont;
  line-height: 1.3;
  color: white;
}

  @media screen and (min-width: $mqnavbar) {

    body {
      background: linear-gradient(to bottom,  $maincolour 0%, lighten($maincolour, 10) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }

  @media screen and (min-width: $mqnavbar) {

    body::before {
      content: "";
      opacity: .2;
      position: fixed;
      height: 600px;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background-image: url('../img/body_bg.png');
      background-size: cover;
      }
  }
