.main {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.main--home {
  display: flex;
  flex-direction: column;
}

.main--404 {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  a {
    color: white;
  }
}

@media screen and (min-width: $mqnavbar) and (max-width: $mqdesktop) {

  .main {
    max-width: 66.625rem;
    padding: 0 2rem;
  }

}

@media screen and (min-width: $mqdesktop-small) {

  .main {
    padding: 0 2rem;
  }

}

@media screen and (min-width: $mqdesktop) {

  .main {
    max-width: $max-width;
  }

  .main--home {
    flex-direction: row;
    justify-content: space-between;
  }

}
