.main {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.main--home {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 39.5em) {

  .main {
    padding: 0 2rem;
  }

}

@media screen and (min-width: $mqthreecol) {

  .main {
    max-width: 1066px;
  }

}

@media screen and (min-width: $mqfourcol) {

  .main {
    max-width: $max-width;
  }

  .main--home {
    flex-direction: row;
    justify-content: space-between;
  }

}
