@font-face {
    font-family: 'Webly Sleek UI';
    src: url('weblysleekuisl-webfont.woff2') format('woff2'),
         url('weblysleekuisl-webfont.woff') format('woff'),
         local('☺');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Webly Sleek UI';
    src: url('weblysleek_ui_normal-webfont.woff2') format('woff2'),
         url('weblysleek_ui_normal-webfont.woff') format('woff'),
         local('☺');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Webly Sleek UI';
    src: url('weblysleek_ui_italic-webfont.woff2') format('woff2'),
         url('weblysleek_ui_italic-webfont.woff') format('woff'),
         local('☺');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Webly Sleek UI';
    src: url('weblysleekuisb-webfont.woff2') format('woff2'),
         url('weblysleekuisb-webfont.woff') format('woff'),
         local('☺');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('merriweather-black-webfont.woff2') format('woff2'),
         url('merriweather-black-webfont.woff') format('woff'),
         local('☺');
    font-weight: 700;
    font-style: normal;
}
