.footer-container {
  max-width: 100%;
  background-color: $tilecolour;
  z-index: 1;
}

.footer {
  max-width: $max-width;
  padding: .5em 1rem;
  color: lighten($contentcolour, 30);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: normal;
  margin: 0 auto;

  span {
    vertical-align: middle;
  }
}

.footer__link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  text-decoration: none;
  margin: .5em 0;
  color: lighten($contentcolour, 50);
}

.footer__icons-wrapper {
  display: flex;
  margin-top: .5em;
}

.footer-icon {
  text-decoration: none;
  opacity: .8;
  display: block;

  img {
    display: block;
  }
}

@media screen and (min-width: $mqlogo) {

  .footer {
    flex-direction: row;
    justify-content: space-between;

    p {
      margin: 0;
      margin-top: .25em;
    }
  }

  .footer-wrap {
    display: flex;
  }

  .footer__icons-wrapper {
    display: flex;
    align-items: center;
    margin-top: 0;
  }

  .footer__link-wrapper {
    flex-direction: row;
    margin-right: 2rem;
  }

  .footer__link:nth-child(2) {
    &::before {
      content: "|";
      margin: 0 .25em;
    }
  }
}

@media screen and (min-width: $mqnavbar) {

  .footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .footer {
    padding: .5em 2rem;
  }

  .footer__link {
    margin: 0;
  }

  .footer-wrap {
    //justify-content: center;
  }

}

@media screen and (min-width: $mqnavbar) and (max-width: $mqdesktop) {

  .footer {
    max-width: 66.625rem;
  }

}
