/* -- Menu -- */

.main-nav {
  position: absolute;
  transition: transform 300ms ease-in;
  font-weight: 300;
  width: 100%;
  margin-top: 7.6875rem;
  z-index: 15;
  transform: scaleY(0);
  transform-origin: top;
  height: 26.25rem;
}

.header-container--fixed {

  .main-nav {
    margin-top: 3.6875rem;
  }
}

.main-nav--expanded {
  transform: scaleY(1);
  transition: transform 300ms ease-out;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 2rem;
  background-color: darken($altcolour, 2);
}

.main-menu__item {
  width: 100%;
  text-align: center;
}

.main-menu__link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1em;
  font-weight: 300;

  &:focus, &:hover, &.main-menu__link--current {
    outline: 0;
    color: white;
    background-color: darken($altcolour, 6);
  }
}

@media screen and (min-width: $mqlogo) {

  .main-nav {
    margin-top: 22.96393034825871vw;
  }
}


@media screen and (max-width: $mqnavbar) and (orientation:landscape) {

  .main-nav {
    margin-top: 0;
    transition: none;
  }

  .main-menu__link {
    padding: 2.625vh;
  }

  .main-nav--expanded {
    height: auto;
    overflow-Y: scroll;
    z-index: 5;
  }

}

@media screen and (min-width: $mqnavbar) {

  .main-nav {
    height: auto;
    position: static;
    transform: scaleY(1);
    margin-top: 0;
    width: auto;
    transition: none;
  }

  .header-container--fixed {

    .main-nav {
      margin-top: 0;
    }
  }

  .main-menu {
    flex-direction: row;
    background-color: transparent;
    font-size: 1.25rem;
  }

  .main-menu__item {
    width: auto;
  }

  .main-menu__link {
    color: white;
    border: .125rem solid transparent;

    &:focus, &:hover, &.main-menu__link--current {
      background-color: lighten($maincolour, 3);
      border: .125rem solid rgba(white, .025);
    }

  }

}

@media screen and (min-width: $mqdesktop) {

  .main-menu__item + * {
    margin-left: 4rem;
  }
}
