/* -- Menu -- */

.main-nav {
  height: 0;
  overflow: hidden;
  transition: height 300ms ease-in;
  font-weight: 300;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 2rem;
  background-color: lighten($maincolour, 7);
}

.main-menu__item {
  width: 100%;
  text-align: center;
}

.main-menu__link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 1em;
  font-weight: 300;

  &:focus, &:hover, &.main-menu__link--current {
    outline: 0;
    color: white;
    background-color: lighten($maincolour, 12);
  }
}

.main-nav--expanded {
  height: 26.25rem;
  transition: height 500ms ease-out;
}

@media screen and (min-width: $mqnavbar) {

  .main-nav {
    height: auto;
    background-color: $tilecolour;
  }

  .main-menu {
    flex-direction: row;
    background-color: transparent;
    font-size: 1.25rem;
  }

  .main-menu__item {
    width: auto;
  }

  .main-menu__link {
    color: white;

    &:focus, &:hover, &.main-menu__link--current {
      background-color: lighten($tilecolour, 5);
      border-bottom: .2em solid $tilecolour--hover;      
    }

  }

}

@media screen and (min-width: $mqthreecol) {

  .main-menu__link {
    padding: 1.5em 2em;
  }

}

@media screen and (min-width: $mqfourcol) {

  .main-menu__item + * {
    margin-left: 4rem;
  }
}
