.scroll-up {
  display: none;
  background-color: darken($altcolour, 4);
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: -.5em;
  height: 45px;
  width: 45px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.scroll-up--visible {
  display: block;
  animation: fadeIn 300ms ease-out forwards, rightIn 300ms ease-out forwards;
  z-index: 10;
  transition: transform 500ms ease;

  @media screen and (min-width: $mqdesktop-small) {
    margin-bottom: 2rem;
    animation: fadeIn 300ms ease-out forwards, rightInLarge 300ms ease-out forwards;
  }
}

@media screen and (min-width: $mqlogo) {

.avoid-footer {
  transform: translateY(-3.25rem);
}

}
