.scroll-up {
  display: none;
  background-color: $maincolour;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 45px;
  width: 45px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.scroll-up--visible {
  display: block;
  animation: fadeIn 300ms ease-out forwards, rightIn 300ms ease-out forwards;

  @media screen and (min-width: $mqthreecol) {
    margin-bottom: 2rem;
    animation: fadeIn 300ms ease-out forwards, rightInLarge 300ms ease-out forwards;
  }
}
