.work {
  display: flex;
  flex-direction: column;
  color: white;
}

.work + * {
  margin-top: 1em;
}

.work__wrapper {
  display: flex;
  flex-direction: column;
}

.work__img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.work__img + * {
  margin-top: 1em;
}

.work__img--landscape {
  display: block;
}

.work__img--portrait {
  display: none;
}

.work__header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8125em;
  letter-spacing: .15em;
  margin: 2em 0;
  color: lighten($contentcolour, 45);
}

.work__btn-view {
  display: block;
  text-align: center;
  margin: 1em auto;
  background-color: $altcolour;
  font-family: $bodyfont;
  font-weight: bold;
  padding: .5em;
  color: white;
  width: 50%;
  align-self: center;
  text-decoration: none;
  text-shadow: 0.1em 0.1em darken($altcolour, 10);

  &:hover, &:active, &:focus {
    background-color: lighten($maincolour, 10);
    color: white;
  }
}

.work__text {
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.4375em;
  max-width: 60ch;
  margin: 3em 0;

  &:first-of-type {
    margin-top: 0;
  }
}

.work__text--tool-tag {
  margin-top: 0;
}

.tool-tag {
  background-color: lighten($contentcolour, 10);
  border-radius: 1em;
  //border: .125em solid $tilecolour;
  padding: .5em 1em;
  display: inline-block;
  margin-bottom: .5em;
  font-size: 1rem;
  color: white;
}

@media screen and (min-width: $mqphonelimit) {

  .work__text {
    font-size: .9em;
  }

  .work__imgbtn-wrapper {
    margin: 1rem 0;
  }

}

@media screen and (min-width: $mqnavbar) {

  .work {
    flex-direction: row;
  }

  .work__info {
    order: 2;
    flex: 1.25;
  }

  .work__text {
    line-height: 1.6em;
  }

  .work__img--landscape {
    display: none;
  }

  .work__img--portrait {
    display: block;
    margin-top: 0;
  }

  .work__btn-view {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 13.532934131736526946107784431138%;
    width: 89.55223880597015%;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 300ms ease-out;
    background: radial-gradient(rgba(lighten($altcolour, 5), .85), rgba(darken($altcolour, 15), .85));
    text-shadow: .05em .05em darken($altcolour, 10);

    &:hover, &:focus, &:active {
      background-color: transparent;
    }
  }

  .work__imgbtn-wrapper {
    order: 3;
    flex: 1;
    height: 100%;
    margin: 0 0 0 4em;
    position: relative;

    &:hover, &:active, &:focus {

      .work__btn-view {
        height: 73.77245508982036%;
        transition: height 300ms ease-out;
        //background: radial-gradient(lighten($altcolour, 5), darken($altcolour, 15));
      }
    }
  }

  .work__imgbtn-wrapper--graphics {
    align-self: center;
  }

}

@media screen and (min-width: $mqblogindex) {

  .work__btn-view {
    //bottom: 3.1%;
  }

}

@media screen and (min-width: $mqthreecol) {

  .work__img--portrait {
    max-width: none;
    width: 402px;
    height: 835px;
  }

  .work__btn-view {
    //width: 360px;
    //height: 616px;
  }
}
