.work {
  display: flex;
  flex-direction: column;
  color: white;
}

.work + * {
  margin-top: 1em;
}

.work__wrapper {
  display: flex;
  flex-direction: column;
}

.work__img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.work__img--landscape {
  display: block;
}

.work__img--portrait {
  display: none;
}

.work__header {
  font-weight: bold;
}

.work__btn-view {
  display: block;
  text-align: center;
  margin: 1em auto;
  background-color: lighten($maincolour, 12);;
  border: .1em solid lighten($maincolour, 15);
  font-family: $bodyfont;
  font-weight: bold;
  padding: .5em;
  color: white;
  width: 50%;
  align-self: center;
  text-decoration: none;

  &:hover, &:active, &:focus {
    background-color: lighten($maincolour, 10);
    color: white;
  }
}

.work__text {
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.4375em;
  max-width: 60ch;
  margin: 3em 0;

  &:first-of-type {
    margin-top: 0;
  }
}

.tool-tag {
  background-color: $altcolour;
  padding: .5em 1em;
  display: inline-block;
  margin-bottom: .5em;
  font-size: 1rem;
  color: white;
}

@media screen and (min-width: $mqphonelimit) {

  .work__text {
    font-size: .9em;
  }

  .work__imgbtn-wrapper {
    margin: 1rem 0;
  }

}

@media screen and (min-width: $mqnavbar) {

  .work {
    flex-direction: row;
  }

  .work__info {
    order: 2;
    flex: 1.25;
  }

  .work__text {
    line-height: 1.6em;
  }

  .work__img--landscape {
    display: none;
  }

  .work__img--portrait {
    display: block;
  }

  .work__imgbtn-wrapper {
    order: 3;
    flex: 1;
    height: 100%;
    padding-left: 2em;
    margin: 0 0 0 2em;
  }

  .work__imgbtn-wrapper--graphics {
    align-self: center;
  }

}
