.work {
  display: flex;
  flex-direction: column;
  color: white;
}

.work + * {
  margin-top: 1em;
}

.work__wrapper {
  display: flex;
  flex-direction: column;
}

.work__img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.work__img--landscape {
  display: block;
}

.work__img--portrait {
  display: none;
}

.work__header {
  font-weight: bold;
}

.work__btn-view {
  display: block;
  text-align: center;
  margin: 1em auto;
  background-color: lighten($maincolour, 12);;
  border: .1em solid lighten($maincolour, 15);
  font-family: $bodyfont;
  font-weight: bold;
  padding: .5em;
  color: white;
  width: 50%;
  align-self: center;
  text-decoration: none;

  &:hover, &:active, &:focus {
    background-color: lighten($maincolour, 10);
    color: white;
  }
}

.work__text {
  font-size: 0.8em;
  font-weight: 300;
  line-height: 1.4375em;
  max-width: 60ch;
  margin: 3em 0;

  &:first-of-type {
    margin-top: 0;
  }
}

.tool-tag {
  background-color: $altcolour;
  padding: .5em 1em;
  display: inline-block;
  margin-bottom: .5em;
  font-size: 1rem;
  color: white;
}

@media screen and (min-width: $mqphonelimit) {

  .work__text {
    font-size: .9em;
  }

  .work__imgbtn-wrapper {
    margin: 1rem 0;
  }

}

@media screen and (min-width: $mqnavbar) {

  .work {
    flex-direction: row;
  }

  .work__info {
    order: 2;
    flex: 1.25;
  }

  .work__text {
    line-height: 1.6em;
  }

  .work__img--landscape {
    display: none;
  }

  .work__img--portrait {
    display: block;
  }

  .work__imgbtn-wrapper {
    order: 3;
    flex: 1;
    height: 100%;
    margin: 0 0 0 4em;
    position: relative;
  }

  .work__btn-view {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12.7%;
    width: 89.55223880597015%;
    height: 73.77245508982036%;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: background-color 300ms ease;
  }

  .work__imgbtn-wrapper {

    &:hover {
      .work__btn-view {
        display: flex;
        visibility: visible;
        background-color: rgba($altcolour, .9);
        text-shadow: .1em .1em darken($altcolour, 5);
      }
    }
  }

  .work__imgbtn-wrapper--graphics {
    align-self: center;
  }

}

@media screen and (min-width: $mqblogindex) {

  .work__btn-view {
    //bottom: 3.1%;
  }

}

@media screen and (min-width: $mqthreecol) {

  .work__img--portrait {
    max-width: none;
    width: 402px;
    height: 835px;
  }

  .work__btn-view {
    width: 360px;
    height: 616px;
  }
}
