/* -- GLOBAL -- */

html {
	box-sizing: border-box;
	overflow-y: scroll;
	height: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

*:focus {
	outline-color: #536ab4;
}

/* -- UTILITY CLASSES -- */

.visuallyhidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

/* -- BODY -- */

body {
	background-color: #262f4d;
	font-family: Roboto, "Droid Serif", Georgia, Times;
	line-height: 1.3;
	transition: background-color 1000ms;
	color: white;
}

body::before {
	opacity: .25;
	position: fixed;
	height: 600px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-image: url("../img/body_bg.png");
	background-size: cover;
}

.main {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1rem;
}

.main--home {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

/* -- COMPONENTS -- */

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	max-width: 1400px;
	margin: 0 auto;
	background-color: inherit;
}

.header__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1rem;
}

.logo {
	width: 200px;
	margin: 1rem 1rem 1rem 0;
}

.logo__img {
	display: block;
	width: 100%;
}

/*  Menu Button  */

.btn-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #314070;
	height: 52px;
	min-width: 52px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-item-align: center;
	align-self: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0;
	border: 0;
	border-radius: 5px;
}

.btn-menu:hover,
.btn-menu:active,
.btn-menu:focus {
	outline: 0;
	background-color: #394a82;
}

.btn-menu__lines {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 24px;
	width: 24px;
}

.btn-menu__line {
	display: block;
	height: 4px;
	width: 100%;
	background-color: white;
	-webkit-transform: rotate(0);
	transform: rotate(0);
	transition: -webkit-transform 300ms;
	transition: transform 300ms;
	transition: transform 300ms, -webkit-transform 300ms;
}

.btn-menu__line--vanished {
	display: none;
}

.btn-menu__line--leftcross {
	-webkit-transform: translateY(10px) rotate(45deg);
	transform: translateY(10px) rotate(45deg);
	transition: -webkit-transform 300ms;
	transition: transform 300ms;
	transition: transform 300ms, -webkit-transform 300ms;
}

.btn-menu__line--rightcross {
	-webkit-transform: translateY(-10px) rotate(-45deg);
	transform: translateY(-10px) rotate(-45deg);
	transition: -webkit-transform 300ms;
	transition: transform 300ms;
	transition: transform 300ms, -webkit-transform 300ms;
}

/* -- Menu -- */

.main-nav {
	height: 0;
	overflow: hidden;
	transition: height 300ms ease-in;
	font-family: Georgia, Times, serif;
}

.main-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 2rem;
	background-color: #3c4e89;
}

.main-menu__item {
	width: 100%;
	text-align: center;
}

.main-menu__link {
	display: block;
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	padding: 1em;
}

.main-menu__link:focus,
.main-menu__link:hover,
.main-menu__link.main-menu__link--current {
	outline: 0;
	color: white;
	background-color: #44589b;
}

.main-nav--expanded {
	height: 26.25rem;
	transition: height 500ms ease-out;
}

.tiles {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.tile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	height: 40vw;
	margin-top: 1em;
	border-radius: 1em;
	font-size: 1rem;
	background-color: #36467b;
	text-decoration: none;
	color: white;
}

.tile:hover {
	background-color: #384980;
}

.tile--alternate {
	background-color: #2e3c69;
	-webkit-clip-path: polygon(100% 0, 0 0, 0 80%, 50% 100%, 100% 80%);
	clip-path: polygon(100% 0, 0 0, 0 80%, 50% 100%, 100% 80%);
	height: 90vw;
	border-radius: 0;
}

.tile--alternate:hover {
	background-color: #2e3c69;
}

.tile-inner {
	max-width: 28.75em;
	text-align: center;
}

.tile-inner > * {
	margin-bottom: 0;
}

.tile-inner > :first-child {
	margin-top: 0;
}

.tile-inner--intro {
	text-align: center;
	padding: 0 2em;
	margin-bottom: 2em;
}

.tile-inner__main {
	font-weight: normal;
	padding: 1em;
	background-color: #384980;
	border-radius: .8em;
	width: 100%;
}

.tile-inner__main--intro {
	font-size: 1.5em;
	padding: 0;
	border: 0;
	background-color: transparent;
}

.tile-inner__icon {
	text-decoration: none;
}

.tile-inner__icon img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.tile-inner__link {
	text-decoration: none;
	color: white;
}

.blogposts {
	width: 334px;
	height: 668px;
}

@media screen and (min-width: 39.5em) {

.main {
	padding: 0 2rem;
}

.header__top {
	padding: 2rem;
}

.logo__img {
	width: 290px;
	height: auto;
}

}

@media screen and (min-width: 48.0625em) {

.header-container {
	background-color: transparent;
}

.header {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 4rem 2rem;
}

.header__top {
	padding: 0;
	display: block;
}

.btn-menu {
	display: none;
}

.logo {
	display: block;
	margin: 0 1rem 0 0;
	width: auto;
}

.main-nav {
	height: auto;
}

.main-menu {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	background-color: transparent;
	font-size: 1.25rem;
}

.main-menu__link {
	color: white;
}

.main-menu__link:focus,
.main-menu__link:hover,
.main-menu__link.main-menu__link--current {
	background-color: #314070;
}

.tiles {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.tile {
	width: 334px;
	height: 334px;
	margin-top: 0;
	border-radius: 0;
}

.tile--alternate {
	-webkit-clip-path: none;
	clip-path: none;
}

.tile-inner {
	max-width: 12.875em;
	font-size: 1rem;
}

.tile-inner--intro {
	text-align: left;
	padding: initial;
	margin-bottom: 0;
}

}

@media screen and (min-width: 48.0625em) and (max-width: 67.6875em) {

.tile {
	width: 50%;
	height: 50vw;
}

}

@media screen and (min-width: 67.6875em) {

.main {
	max-width: 1066px;
}

.header {
	max-width: 1066px;
}

.tiles {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	max-width: 1002px;
}

}

@media screen and (min-width: 88.5625em) {

.main {
	max-width: 1400px;
}

.main--home {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.header {
	max-width: 1400px;
}

.main-menu__item + * {
	margin-left: 2rem;
}

}


/*# sourceMappingURL=source-maps/style.css.map */
