html {
  box-sizing: border-box;
  overflow-y: scroll;
  min-height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline-color: lighten($maincolour, 20);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
