html {
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline-color: lighten($maincolour, 20);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

a {
  color: white;
}

@media screen and (min-width: $mqnavbar) {

  html {
    background: -webkit-linear-gradient(#303453 0%, #434873 100%);
  }

}
