html {
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline-color: lighten($maincolour, 20);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

a {
  color: white;
}

@media screen and (min-width: $mqnavbar) {

  html {
    background: -webkit-linear-gradient(#303453 0%, #434873 100%);
  }

  .background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-image: url('../img/body_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: .1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

}
