@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes rightIn {
  0% { margin-right: 0; }
  100% { margin-right: 1rem; }
}

@keyframes rightInLarge {
  0% { margin-right: 0; }
  100% { margin-right: 2rem; }
}

@keyframes topIn {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  100% { 
    margin-top: 7rem;
    opacity: 1;
  }
}

@keyframes glowing {
  0% { box-shadow: 0 0 -.625rem white; }
  40% { box-shadow: 0 0 1.25rem white; }
  60% { box-shadow: 0 0 1.25rem white; }
  100% { box-shadow: 0 0 -.625rem white; }
}
