@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

// Tile colours //
@function color-adjust($basecolour) {

  $hue-difference: hue($maincolour) - hue($basecolour);
  $saturation-difference: saturation($maincolour) - saturation($basecolour);
  $lightness-difference: lightness($maincolour) - lightness($basecolour);

  @return hsl(hue($basecolour) + $hue-difference,
          saturation($basecolour) + $saturation-difference,
          lightness($basecolour) + $lightness-difference)
}
