@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

// Tile colours //
@function color-adjust($basecolour, $endcolour) {

  $hue-difference: hue($endcolour) - hue($maincolour);
  $saturation-difference: saturation($endcolour) - saturation($maincolour);
  $lightness-difference: lightness($endcolour) - lightness($maincolour);

  @return hsl(hue($basecolour) + $hue-difference,
          saturation($basecolour) + $saturation-difference,
          lightness($basecolour) + $lightness-difference)
}
