.visuallyhidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.visuallyhidden--skiplinks {

  &:active, &:focus {
    clip: auto;
    height: auto;
    width: auto;
    overflow: visible;
    color: white;
    text-decoration: none;
  }

}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.ie-upgrade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $contentcolour;
  color: white;
  font-size: 3rem;
  z-index: 9999;
  text-align: center;
}
