// Colours //
$maincolour: #292a41;
$tilecolour: lighten($maincolour, 2);
$tilecolour--hover: lighten(saturate(adjust-hue($maincolour, -236), 35), 32);
$sidebarcolour: lighten($maincolour, 8);

// Fonts //
$bodyfont: 'Segoe UI';

// Sizes //
$max-width: 1488px;

// Media queries //
$mqtwocol: 52em;
$mqthreecol: 68.9125em;
$mqfourcol: 95.1875em;
