// Colours //
$maincolour: #37355e;
$tilecolour: lighten($maincolour, 2);
$tilecolour--hover: lighten(saturate(adjust-hue($maincolour, -236), 50), 32);

// Fonts //
$bodyfont: 'Segoe UI';

// Sizes //
$max-width: 1488px;

// Media queries //
$mqtwocol: 48.0625em;
$mqthreecol: 67.6875em;
$mqfourcol: 88.5625em;
