.content {
  max-width: 1006px;
  width: 100vw;
  margin-left: -1em;
  //background-color: lighten($maincolour, 2);
  margin-bottom: 1em;
}

.content__inner {
  padding: 1em;
  background-color: lighten($maincolour, 8);
}

.content__inner + * {
  margin-top: 1em;
}

.title {
  font-size: 1.375rem;
  background-color: lighten($maincolour, 2);
  width: 100%;
  padding: 1rem;
  margin: 0;
  font-weight: 500;
}

@media screen and (min-width: $mqbiglogo) {

  .content {
    width: 100%;
    margin-left: 0;
  }

  .content__inner {
    padding: 2rem;
    //border: 2px solid $maincolour;
  }

  .title {
    padding: 2rem;
  }

}
