.content {
  max-width: 1006px;
  width: 100%;
  background-color: lighten($maincolour, 2);
}

.content__inner {
  padding: 2em;
}

.title {
  font-size: 2rem;
  background-color: darken($maincolour, 1);
  width: 100%;
  padding: 1em;
  margin: 0;
  font-weight: 500;
}
