.tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 35vw;
  font-size: 1rem;
  background-color: $tilecolour;
  text-decoration: none;
  color: white;
  flex-shrink: 0;
}

.tile + * {
  margin-top: 1em;
}

.tile--image {
  background-color: $tilecolour;
  height: auto;
  //clip-path: polygon(100% 0, 0 0, 0 80%, 50% 100%, 100% 80%);
  //display: none;
}

.tile__img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.tile--intro {
  background-color: lighten($tilecolour, 2);
  height: 90vw;
  font-size: calc(1em + 1vw);
}

.tile--projects {
  background-color: lighten($tilecolour, 4);
}

.tile--icons {
  background-color: lighten($tilecolour, 6);
}

.tile--graphics {
  background-color: lighten($tilecolour, 8);
}

.tile--contact {
  background-color: lighten($tilecolour, 10);
}

.tile--3d {
  border-color: transparent;
}

.tile-inner {
  //max-width: 28.75em;
  max-width: 100%;
  text-align: center;
}

.tile-inner > * {
  margin-bottom: 0;
}

.tile-inner > :first-child {
  margin-top: 0;
}

.tile-inner--intro {
  text-align: center;
  padding: 0;
  font-weight: 500;
}

.tile-inner__main {
  font-weight: normal;
  font-size: 1em;
  padding: 1em;
  background-color: transparent;
}

.tile-inner__main--border {
  border-radius: 2em;
  border: .08125em solid rgba(255,255,255,1);
}

.tile-inner__main--contact {
  border-bottom: .1em solid rgba(255,255,255,1);
}

.tile-inner__main--intro {
  font-size: 1.5em;
  padding: 0 1em;
  border: 0;
  background-color: transparent;
  box-shadow: none;
  font-weight: 500;
}

.tile-inner__sub--intro {
  font-weight: 400;
}

.tile-inner__icon {
  text-decoration: none;

  & img:hover {
    transform: scale(1.1);
  }
}

.tile-inner__link {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: $mqbigphone) {

  .tiles {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tile {
    width: 50%;
  }

  .tile + * {
    margin-top: 0;
  }

  .tile--intro {
    height: auto;
    font-size: 1rem;
    align-self: stretch;
  }

  .tile-inner--intro {
    padding: 0;
  }

  .tile-inner__main {
    font-size: calc(1em + .2vw);
  }

  .tile-inner__main--intro {
    padding: 0 1em;
    font-size: calc(.9rem + 1vw);
    font-weight: 400;
  }

  .tile-inner__icon {

    img {
      transform: scale(.8);
    }
  }

}

@media screen and (min-width: $mqbiglogo) {

  .tile-inner__icon {

    img {
      transform: scale(1);
    }
  }

}

@media screen and (min-width: $mqtwocol) {

  .tiles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tile {
    width: 334px;
    height: 334px;
    border-radius: 0;
    //border: 3px solid $maincolour;
  }

  .tile__img {
    max-width: 90%;
  }

  .tile + * {
    margin-top: 0;
  }

  .tile--image, .tile--projects {
    border-right: 0;
    border-bottom: 0;
  }

  .tile--intro, .tile--icons {
    border-bottom: 0;
  }

  .tile--graphics {
    border-right: 0;
  }

  .tile-inner {
    max-width: 12.875em;
    font-size: 1rem;
    font-weight: normal;
  }

  .tile-inner--intro {
    text-align: left;
    font-size: 1.25em;
    padding: 0 1.5em;
    margin-bottom: 0;
  }

  .tile-inner__main {
    font-size: 1.175em;
  }

  .tile-inner__main--intro {
    padding: 0;
    font-weight: 200;
  }

}

@media screen and (min-width: $mqtwocol) and (max-width: $mqthreecol) {

  .tile {
    width: 33.33333333333333%;
    height: 32.3333333333333vw;
  }

}

@media screen and (min-width: $mqthreecol) {

  .tiles {
    justify-content: flex-start;
    width: 1006px;
    perspective: 1000px;
    border: 2px solid $maincolour;
  }

  .tile--intro, .tile--icons, .tile--graphics {
    border-right: 0;
  }

  .tile--image {
    display: flex;
    //justify-content: flex-start;
  }

  .tile__img {
    max-width: 85%;
    //filter: grayscale(0.3) sepia(30%);
  }

  .tile--projects {
    border-bottom: 0;
    //border-right: 3px solid $maincolour;
  }

  .tile--icons {
    //border-bottom: 3px solid $maincolour;
  }

  .tile--3d {
    transform: rotateY(0);
    transition: transform 300ms ease, background-color 500ms ease, border-color 500ms ease, box-shadow 500ms ease;

    &:hover {
      transform: rotateY(15deg) scale(0.95);
      background-color: rgba($tilecolour--hover, 0.8);
      border-color: lighten($tilecolour--hover, 5);

      .tile-inner__main {
        box-shadow: none;
        background-color: transparent;
      }

    }
  }

}
