.tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //height: 18em;
  //width: 18em;
  width: 100%;
  height: 90vw;
  margin-top: 1em;
  background-color: lighten($maincolour, 3);

  &:hover {
    transform: scale(1.1);
  }
}

.tile--alternate {
  background-color: darken($maincolour, 2);

  &:hover {
    transform: none;
  }
}

.tile-inner {
  max-width: 28.75em;
  text-align: center;
  font-size: calc(.8rem + 1vw);
}

.tile-inner > * {
  margin-bottom: 0;
}

.tile-inner > :first-child {
  margin-top: 0;
}

.tile-inner--intro {
  text-align: center;
  padding: 0 2em;
}

.tile-inner__main {
  font-weight: normal;
  padding: 1em;
  background-color: lighten($maincolour, 4);
  width: 100%;
  font-size: 1.17em;
}

.tile-inner__main--intro {
  font-size: 1.5em;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.tile-inner__icon {
  text-decoration: none;

  & img:hover {
    transform: scale(1.1);
  }
}

@media screen and (min-width: $mqtwocol) {

  .tiles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tile {
    width: 334px;
    height: 334px;
    margin-top: 0;
    font-size: 1rem;
    //clip-path: polygon(90% 0, 100% 10%, 100% 100%, 0 100%, 0 0);
  }

  .tile-inner {
    max-width: 12.875em;
    font-size: 1.125rem;
  }

  .tile-inner--intro {
    text-align: left;
    padding: initial;
  }

}

@media screen and (min-width: $mqtwocol) and (max-width: $mqthreecol) {

  .tile {
    width: 50%;
    height: 50vw;
  }

}

@media screen and (min-width: $mqthreecol) {

  .tiles {
    justify-content: flex-start;
  }

}
