.tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40vw;
  //margin-top: 1em;
  border-radius: 1em;
  font-size: 1rem;
  background-color: $tilecolour;
  text-decoration: none;
  color: white;

  &:nth-child(2) {
    background-color: lighten($tilecolour, 2);
  }

  &:nth-child(3) {
    background-color: lighten($tilecolour, 6);
  }

  &:nth-child(4) {
    background-color: lighten($tilecolour, 10);
  }

  &:nth-child(5) {
    background-color: lighten($tilecolour, 14);
  }

  &:nth-child(6) {
    background-color: lighten($tilecolour, 18);
  }
}

.tile__img {
  max-width: 100%;
}

.tile--flat {
  background-color: darken($maincolour, 2);
  clip-path: polygon(100% 0, 0 0, 0 80%, 50% 100%, 100% 80%);
  height: 90vw;
  border-radius: 0;
}

.tile-inner {
  max-width: 28.75em;
  text-align: center;
}

.tile-inner > * {
  margin-bottom: 0;
}

.tile-inner > :first-child {
  margin-top: 0;
}

.tile-inner--intro {
  text-align: center;
  padding: 0 2em;
  margin-bottom: 2em;
}

.tile-inner__main {
  font-weight: normal;
  padding: 1em;
  background-color: transparent;
  border-radius: 0;
  border-bottom: .1em solid rgba(255,255,255,1);
  //box-shadow: 0 0 70px rgba(255,255,255,0.2);
}

.tile-inner__main--intro {
  font-size: 1.5em;
  padding: 0;
  border: 0;
  background-color: transparent;
  box-shadow: none;
}

.tile-inner__icon {
  text-decoration: none;

  & img:hover {
    transform: scale(1.1);
  }
}

.tile-inner__link {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: $mqtwocol) {

  .tiles {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tile {
    width: 334px;
    height: 334px;
    //margin: .5em;
    border-radius: 0;
  }

  .tile--flat {
    clip-path: none;
  }

  .tile-inner {
    max-width: 12.875em;
    font-size: 1rem;
    font-family: Arial;
    font-weight: normal;
  }

  .tile-inner--intro {
    text-align: left;
    padding: 0;
    margin-bottom: 0;
  }

}

@media screen and (min-width: $mqtwocol) and (max-width: $mqthreecol) {

  .tile {
    width: 50%;
    height: 50vw;
  }

}

@media screen and (min-width: $mqthreecol) {

  .tiles {
    justify-content: flex-start;
    width: 1058px;
    perspective: 1000px;
  }

  .tile--3d {
    transform: rotateY(0);
    transition: transform 300ms ease, background-color 500ms ease, border-color 500ms ease, box-shadow 500ms ease;
    border: 2px solid;
    border-color: transparent;

    &:hover {
      transform: rotateY(15deg) scale(0.95);
      background-color: rgba($tilecolour--hover, 0.9);
      border-color: lighten($tilecolour--hover, 5);
      //box-shadow: 0px 0px 30px $tilecolour--hover;

      .tile-inner__main {
        box-shadow: none;
        background-color: transparent;
      }

    }
  }

}
